{% extends 'base.html' %}

{% block title %}Home - Kyle Hampton{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Kyle Hampton</h1>
        <p>Innovating Solutions and Driving Insights Through Technology</p>
        <a href="/about" class="cta-button">Learn More About Me</a>
    </div>
</section>

<!-- About Section -->
<section class="about" id="about">
    <div class="content-container">
        <h2>Who Am I?</h2>
        <p>
            I'm a problem solver, an innovator, and someone who thrives on bringing creative solutions to life. 
            Whether it’s analyzing data to uncover insights, building applications, or exploring new ideas, 
            I’m passionate about leveraging technology to make an impact.
        </p>
    </div>
</section>


{% endblock %}
